# {{ ansible_managed }}

<VirtualHost *:80>
  ServerName {{ mailman_domain }}
  RewriteEngine On
  RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<VirtualHost *:443>
    Protocols h2 http/1.1
    ServerName {{ mailman_domain }}
    DocumentRoot /var/www/

    RedirectMatch ^/$ /mailman/listinfo

    ScriptAlias /cgi-bin/mailman/ /usr/lib/cgi-bin/mailman/
    ScriptAlias /mailman/ /usr/lib/cgi-bin/mailman/

    <Directory /usr/lib/cgi-bin/mailman/>
        AllowOverride None
        Options ExecCGI
        AddHandler cgi-script .cgi
        Require all granted
    </Directory>

    Alias /pipermail/ /var/lib/mailman/archives/public/
    <Directory /var/lib/mailman/archives/public/>
        Options FollowSymlinks
        AllowOverride None
        Require all granted
    </Directory>

    Alias /images/mailman/ /usr/share/images/mailman/
    <Directory /usr/share/images/mailman/>
        AllowOverride None
        Require all granted
    </Directory>

    SSLEngine on
    SSLCertificateFile {{ mailman_ssl_certificate }}
    SSLCertificateKeyFile {{ mailman_ssl_certificate_key }}
    SSLCertificateChainFile {{ mailman_ssl_certificate_bundle }}
</VirtualHost>

# SSL configuration based on Mozilla SSL configuration generator
# (https://mozilla.github.io/server-side-tls/ssl-config-generator/)
# intermediate configuration, tweak to your needs.
SSLProtocol             all -SSLv3
SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
SSLHonorCipherOrder     on
SSLCompression          off
SSLSessionTickets       off

# OCSP Stapling, only in httpd 2.3.3 and later
SSLUseStapling          on
SSLStaplingResponderTimeout 5
SSLStaplingReturnResponderErrors off
SSLStaplingCache        shmcb:/var/run/ocsp(128000)
